name: Run Backend Tests

on:
  pull_request:
    branches: [ main, master, develop ]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Backend Dependencies
        run: npm install

      - name: Run Backend Test
        env:
          PORT: ${{ secrets.PORT }}
          MONGO_DB_URI: ${{ secrets.MONGO_DB_URI }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          FRONTEND_ORIGIN: ${{ secrets.FRONTEND_ORIGIN }}
          NODE_ENV: ${{ secrets.NODE_ENV }}
        run: npm test
